<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>platform-application</key>
	<true/>
	<key>com.apple.private.security.no-sandbox</key>
	<true/>
	<key>com.apple.private.persona-mgmt</key>
	<true/>
	<key>com.apple.private.security.storage.AppDataContainers</key>
	<true/>
	<key>com.apple.security.exception.iokit-user-client-class</key>
	<array>
		<string>IOAccelerator</string>
		<string>IOGPUDeviceUserClient</string>
		<string>IOSurfaceRootUserClient</string>
	</array>
	<key>com.apple.CommCenter.fine-grained</key>
	<array>
		<string>spi</string>
    	<string>preferences-write</string>
		<string>cellular-plan</string>
	</array>
	<key>com.apple.private.MobileGestalt.AllowedProtectedKeys</key>
	<array>
		<string>InternationalMobileEquipmentIdentity</string>
    	<string>InternationalMobileEquipmentIdentity2</string>
	</array>
	<key>com.apple.developer.usernotifications.time-sensitive</key>
  	<true/>
	<key>com.apple.developer.usernotifications.critical-alerts</key>
	<true/>
</dict>
</plist>
